* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #0f0f0f;
  background-image: radial-gradient(circle, #1a1a1a 0%, #000000 100%);
  color: white;
  min-height: 100vh;
  margin: 0;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px 50px;
  border-bottom: 1px dashed #333;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo-rikkei {
  color: white;
}

.logo-cinema {
  color: #e50914;
}

.nav-links {
  display: flex;
  margin: 0 auto;
  gap:30px;
}
.nav-links a {
  color: #ccc;
  text-decoration: none;
  margin: 0 15px;
  font-size: 14px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: white;
}

.btn-login-nav {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 20px;
  transition: 0.3s;
  text-decoration: none;
}
.section {
    width:100%;
    background-image: url(/assets/images/85e195bab6c3c3771843f13728ac496b45fd2ad5.png);
    background-size: cover;
    
}

